# Dependencies
node_modules

# Temporary editor files
.DS_Store
*.swp
*~
*.temp

# VSCode editor setings
.vscode

# Next.js
.next/

# TypeScript
tsconfig.tsbuildinfo

# Environment variables
.env

# Dynamically generated RSS feed
public/rss/