# Dependencies
node_modules

# Temporary editor files
.DS_Store
*.swp
*~
*.temp

# Next.js
.next/

# TypeScript
tsconfig.tsbuildinfo

# Environment variables
.env

# Dynamically generated RSS feed
public/rss/

# Dynamically generated sitemap
public/sitemap.xml
public/sitemap/
