.heroContainer {
  background-color: black;
  display: flex;
  position: relative;
  width: 100%;
}

.heroVideo {
  opacity: 0.5;
  width: 100%;
}

.heroTitle {
  color: white;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 40%;
  width: 100%;
  text-align: center;
  text-shadow: 0 0 10px black;
}
